@model IEnumerable<Ext.Net.MVC.Examples.Areas.GridPanel_Update.Models.Batch.TestPerson>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section headtag
{
    <script>
       var updateRecord = function (form) {
            if (form.getForm()._record == null) {
                return;
            }

            if (!form.getForm().isValid()) {
                Ext.net.Notification.show({
                    iconCls  : "icon-exclamation",
                    html     : "Form is invalid",
                    title    : "Error"
                });
                return false;
            }

            form.getForm().updateRecord();
       };

       var addRecord = function (form, grid) {
            if (!form.getForm().isValid()) {
                Ext.net.Notification.show({
                    iconCls  : "icon-exclamation",
                    html     : "Form is invalid",
                    title    : "Error"
                });

                return false;
            }

            grid.store.insert(0, new Person(form.getForm().getValues()));
            form.getForm().reset();
       };
    </script>
}

@section example
{
    <h1>Grid with batch saving</h1>

    @(Html.X().FormPanelForModel()
            .ID("UserForm")
            .Icon(Icon.User)
            .Frame(true)
            .Title("User -- All fields are required")
            .Width(500)
            .DefaultAnchor("100%")
            .DefaultButton("1")
            .FieldDefaults(d => {
                d.LabelAlign = LabelAlign.Right;
            })
            .Buttons(
                Html.X().Button()
                    .Text("Save")
                    .Icon(Icon.Disk)
                    .Handler("updateRecord(this.up('form'));"),

                Html.X().Button()
                    .Text("Create")
                    .Icon(Icon.UserAdd)
                    .Handler("addRecord(this.up('form'), App.GridPanel1); this.up('form').defaultButton='1';"),

                Html.X().Button()
                    .Text("Reset")
                    .Handler("this.up('form').getForm().reset(); this.up('form').defaultButton='1';")
            )
    )

    @(Html.X().GridPanel()
            .ID("GridPanel1")
            .Store(
                Html.X().StoreForModel().ID("Store1")
            )
            .Icon(Icon.Table)
            .Frame(true)
            .Title("Users")
            .Height(400)
            .Width(500)
            .StyleSpec("margin-top: 10px;")
            .ColumnModel(
                Html.X().ColumnFor(Model, m => m.Id)
                    .ToBuilder<Column.Builder>()
                    .Width(40)
                    .Renderer("return record.phantom ? '' : value;"),

                Html.X().ColumnFor(Model, m => m.Email)
                    .ToBuilder<Column.Builder>()
                    .Flex(1)
                    .Editor(
                        Html.X().TextField().AllowBlank(false).StandardVtype(ValidationType.Email)
                    ),

               Html.X().ColumnFor(Model, m => m.First)
                    .ToBuilder<Column.Builder>()
                    .Flex(1)
                    .Editor(
                        Html.X().TextField().AllowBlank(false)
                    ),

               Html.X().ColumnFor(Model, m => m.Last)
                    .ToBuilder<Column.Builder>()
                    .Flex(1)
                    .Editor(
                        Html.X().TextField().AllowBlank(false)
                    ),

               Html.X().CommandColumn()
                   .Width(70)
                   .Commands(
                        Html.X().GridCommand()
                            .Text("Reject")
                            .ToolTip(t =>
                            {
                                t.Text = "Reject row changes";
                            })
                            .CommandName("reject")
                            .Icon(Icon.ArrowUndo)
                   )
                   .PrepareToolbar(t =>
                   {
                       t.Handler = "toolbar.items.get(0).setVisible(record.dirty);";
                   })
                   .Listeners(l =>
                   {
                       l.Command.Handler = "record.reject();";
                   })
            )
            .TopBar(
                Html.X().Toolbar()
                    .Items(
                        Html.X().Button()
                            .Text("Add")
                            .Icon(Icon.Add)
                            .Handler("this.up('grid').store.insert(0, new Person());"),

                        Html.X().Button()
                            .Text("Delete")
                            .Icon(Icon.Exclamation)
                            .Handler("this.up('grid').deleteSelected(); App.UserForm.getForm().reset();")
                    )
            )
            .SelectionModel(
                Html.X().RowSelectionModel()
                    .Mode(SelectionMode.Single)
                    .Listeners(l =>
                    {
                        l.Select.Handler = "App.UserForm.getForm().loadRecord(record); App.UserForm.defaultButton='0';";
                    })
            )
            .Buttons(
                Html.X().Button()
                    .Text("Sync")
                    .Icon(Icon.Disk)
                    .DirectEvents(de => {
                        de.Click.Url = Url.Action("HandleChanges");
                        de.Click.ExtraParams.Add(new Parameter {
                            Name = "data",
                            Value = "this.up('grid').store.getChangedData()",
                            Mode = ParameterMode.Raw,
                            Encode = true
                        });
                    })
            )
            .Plugins(
                Html.X().CellEditing()
            )
    )
}
