@{
    ViewBag.Title = "Confirm MessageBox with ButtonsConfig - Ext.NET MVC Examples";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();
}

@section example
{
    <h1>Confirm MessageBox with ButtonsConfig</h1>

    <p>The following sample demonstrates using an DirectMethod to call back to the server and return a Confirmation X.MessageBox.</p>

    <p>The Confirm MessageBox is configured with a custom <b>ButtonsConfig</b> object which enables customization of each Button <code>.Text</code> and <code>.Handler</code> properties.</p>
    <pre class="code">
    Msg.Confirm("Message", "Confirm?", new X.MessageBox.ButtonsConfig
    {
        Yes = new X.MessageBox.ButtonConfig
        {
            Handler = "CompanyX.DoYes()",
            Text = "Yes Please"
        },
        No = new X.MessageBox.ButtonConfig
        {
            Handler = "CompanyX.DoNo()",
            Text = "No Thanks"
        }
    }).Show();
    </pre>

    <p>The <code>.Handler</code> property is set with JavaScript Code which executes on the client when the Button is clicked. The 'Yes' and 'No' Buttons in this
    sample each call an individual DirectMethod which in turn calls a server-side Method.</p>

    <p>Upon selecting 'Yes' or 'No', another DirectMethod will be fired and returns a message to the Page.</p>

    <div class="information">
        <p>Please ensure you call the <code>.Show()</code> Method of the <b>MessageBox</b> object to render the MessageBox to the Page.</p>
    </div>

    <p>In addition to the custom <b>ButtonsConfig</b> object, the sample also demonstrates setting the <code>DirectMethodNamespace</code> to configure a custom namespace value for DirectMethod's instead of using the default "<code>App.direct</code>".</p>

    <pre class="code">
    // Default
    App.direct.DoYes();

    // Custom DirectMethodNamespace
    CompanyX.DoYes();
    </pre>
    <h4>Example</h4>

    <p>
        @(X.Button()
            .Text("Confirm")
            .Icon(Icon.Error)
            .OnClientClick("CompanyX.MessageBox_Basic.DoConfirm()")
        )
    </p>

    <p>
        @(X.Label()
            .ID("Label1")
            .Format("You clicked the '<b>{0}</b>' Button.")
        )
    </p>
}