@model System.Collections.IEnumerable

@{
    ViewBag.Title = "Infinite Scrolling - Ext.NET MVC Examples";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section example
{
<p>Introduced with Ext.Net 2, the Infinite Scrolling support for GridPanels enables you to load any number of records into a grid without paging.</p>
<p>The grid uses a virtualized scrolling system to handle potentially infinite data sets without any impact on client side performance.</p>
<p>Also, a paging-aware Ext.data.BufferedStore makes the grid load only the required number of records to be shown in the grid view, respecting the leading and trailing records buffer for smoother scrolling..</p>

    @(Html.X().GridPanel()
        .ID("GridPanel1")
        .Width(500)
        .Height(500)
        .DisableSelection(true)
        .Title("Stock Price")
        .Store(Html.X().Store()
            .ID("Store1")
            .Buffered(true)
            .PageSize(100)
            .LeadingBufferZone(300)
            .Model(Html.X().Model()
                .Fields(
                    new ModelField("Company"),
                    new ModelField("Price"),
                    new ModelField("LastUpdate")
                )
            )
            .Proxy(Html.X().AjaxProxy()
                .Url(Url.Action("GetStockQuotations"))
                .Reader(Html.X().JsonReader().RootProperty("data"))
            )
        )
        .ColumnModel(
            Html.X().RowNumbererColumn().Width(50).Sortable(false),
            Html.X().Column().Text("Company").DataIndex("Company").Flex(1).Sortable(false),
            Html.X().Column()
                .Text("Price, $")
                .DataIndex("Price")
                .Width(70)
                .Align(ColumnAlign.Center)
                .Sortable(false),
            Html.X().Column()
                .Text("Last Update")
                .DataIndex("LastUpdate")
                .Width(160)
                .Renderer(RendererFormat.Date, new string[] { "'n/j/Y g:i:s A'" })
                .Sortable(false)
        )
        .ViewConfig(Html.X().GridView().TrackOver(false))
    )
}
