@{
    ViewBag.Title = "IFrame Communication - Ext.NET MVC Examples";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();
}

@section example
{
    <h1>IFrame Communication</h1>

    @(X.Window()
        .Width(400)
        .Title("Parent")
        .Height(200)
        .LayoutConfig(new HBoxLayoutConfig { Align = HBoxAlign.Stretch }
        )
        .Items(
            X.Panel()
                .ID("Panel1")
                .Title("A")
                .Flex(1)
                .BodyPadding(10)
                .Loader(X.ComponentLoader()
                    .Url(Url.Action("A"))
                    .Mode(LoadMode.Frame)
                    .LoadMask(lm => lm.ShowMask = true)
                ),

            X.Panel()
                .ID("Panel2")
                .Title("B")
                .Flex(1)
                .BodyPadding(10)
                .Loader(X.ComponentLoader()
                    .Url(Url.Action("B"))
                    .Mode(LoadMode.Frame)
                    .LoadMask(lm => lm.ShowMask = true)
                )
        )
    )
}