@(Html.X().Panel()
    .ID("rightnav")
    .Region(Region.East)
    .Width(260)
    .Header(false)
    .MarginSpec("0")
    .Hidden(true)
    .Border(false)
    .BodyCls("right-nav-menu")
    .Content(
        @<text>
            <ul id="nav-menu" class="nav-menu">
                <li><a href="https://examples.ext.net/">Web Forms Examples</a></li>
                <li><a href="https://mvc.ext.net/">MVC Examples</a></li>
                <li><a href="https://mobile.ext.net/">Mobile Examples</a></li>
                <li><a href="https://mvc.mobile.ext.net/">MVC Mobile Examples</a></li>
                <li class="separator"></li>
                <li><a href="https://docs.sencha.com/extjs/6.7.0/classic/Ext.html">EXT JS Documentation</a></li>
                <li><a href="https://docs.ext.net/">Ext.NET Documentation</a></li>
                <li class="separator"></li>
                <li><a href="https://forums.ext.net/">Community Forums</a></li>
                <li><a href="https://ext.net/faq/">FAQ</a></li>
                <li><a href="https://ext.net/contact/">Contact</a></li>
                <li><a href="https://ext.net/">Ext.NET Home</a></li>
                <li class="separator"></li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#archives"><i class="fa collapse-icon"></i> Archives</a>
                    <ul class="collapse" id="archives">
                        <li class="section-title">Ext.NET 3</li>
                        <li><a href="https://examples3.ext.net/">Web Forms Examples (3.3)</a></li>
                        <li><a href="https://mvc3.ext.net/">MVC Examples (3.3)</a></li>
                        <li class="separator"></li>
                        <li class="section-title">Ext.NET 2</li>
                        <li><a href="https://examples2.ext.net/">Web Forms Examples (2.5)</a></li>
                        <li><a href="https://mvc2.ext.net/">MVC Examples (2.5)</a></li>
                        <li class="separator"></li>
                        <li class="section-title">Ext.NET 1</li>
                        <li><a href="https://examples1.ext.net/">Web Forms Examples (1.7)</a></li>
                    </ul>
                </li>
            </ul>
            <a href="https://ext.net/store/" class="button button-success button-block button-sidebar-right">Get Ext.NET</a>
        </text>
    )
)
