@{ var mobileVersion = "4.1"; }
@(Html.X().Panel()
    .Header(false)
    .Region(Region.North)
    .Border(false)
    .Height(70)
    .Content(
    @<text>
        <header class="site-header" role="banner">
            <nav class="top-navigation">
                <div class="logo-container">
                    <img src="../../resources/images/extdotnet-logo.svg" />
                </div>
                <div class="navigation-bar">
                    <div class="platform-selector-container">
                        @(Html.X().Button()
                            .Cls("platform-selector")
                            .Width(360)
                            .Text("MVC Examples (" + Ext.Net.MVC.Examples.ExtNetVersion.Major + ")")
                            .Height(70)
                            .ArrowVisible(false)
                            .Menu(Html.X().Menu()
                                .Cls("platform-selector-dropdown")
                                .Plain(true)
                                    .Items(
                                        Html.X().MenuItem()
                                            .Text("Web Forms Examples (" + Ext.Net.MVC.Examples.ExtNetVersion.Major + ")")
                                            .Href("https://examples.ext.net/")
                                            .Height(70)
                                            .Width(358)
                                            .Padding(12),
                                        Html.X().MenuItem()
                                            .Text("Mobile Examples (" + mobileVersion + ")")
                                            .Href("https://mobile.ext.net/")
                                            .Height(70)
                                            .Width(358)
                                            .Padding(12),
                                        Html.X().MenuItem()
                                            .Text("MVC Mobile Examples (" + mobileVersion + ")")
                                            .Href("https://mvc.mobile.ext.net/")
                                            .Height(70)
                                            .Width(358)
                                            .Padding(12)
                                )
                            )
                        )
                    </div>
                    <input type="checkbox" id="menu-button-checkbox" />
                    <label id="menu-button" for="menu-button-checkbox">
                        <span></span>
                    </label>
                </div>
            </nav>
        </header>
    </text>
    )
)
