@{
    ViewBag.Title = "Viewport with BorderLayout - Ext.NET MVC Examples";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();
}

@section example
{
    @(X.Viewport()
        .Layout(LayoutType.Border)
        .Items(
            X.Panel()
                .Title("North")
                .Region(Region.North)
                .Split(true)
                .Height(200)
                .BodyPadding(6)
                .Html("North")
                .Collapsible(true),

            X.Panel()
                .Title("West")
                .Region(Region.West)
                .Layout(LayoutType.Accordion)
                .Width(250)
                .MinWidth(250)
                .MaxWidth(400)
                .Split(true)
                .Collapsible(true)
                .Items(
                    X.Panel()
                        .Title("Navigation")
                        .Border(false)
                        .BodyPadding(6)
                        .Icon(Icon.FolderGo)
                        .Html("West"),

                    X.Panel()
                        .Title("Settings")
                        .Border(false)
                        .BodyPadding(6)
                        .Icon(Icon.FolderWrench)
                        .Html("Some settings in here")
                ),

            X.TabPanel()
                .Region(Region.Center)
                .Items(
                    X.Panel()
                        .Title("Center")
                        .Border(false)
                        .BodyPadding(6)
                        .Html("<h1>Viewport with BorderLayout</h1>"),

                    X.Panel()
                        .Title("Close Me")
                        .Closable(true)
                        .Border(false)
                        .BodyPadding(6)
                        .Html("Closeable Tab")
                ),

            X.Panel()
                .Title("East")
                .Region(Region.East)
                .Collapsible(true)
                .Split(true)
                .MinWidth(250)
                .Width(250)
                .Layout(LayoutType.Fit)
                .Items(
                    X.TabPanel()
                        .ActiveTabIndex(1)
                        .TabPosition(TabPosition.Bottom)
                        .Border(false)
                        .Items(
                            X.Panel()
                                .Title("Tab 1")
                                .Border(false)
                                .BodyPadding(6)
                                .Html("East Tab 1"),

                            X.Panel()
                                .Title("Tab 2")
                                .Closable(true)
                                .Border(false)
                                .BodyPadding(6)
                                .Html("East Tab 2")
                        )
                ),

            X.Panel()
                .Title("South")
                .Region(Region.South)
                .Split(true)
                .Collapsible(true)
                .Height(200)
                .BodyPadding(6)
                .Html("South")
        )
    )
}