@{
    ViewBag.Title = "Label Variations - Ext.NET MVC Examples";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();
}

@section example
{
    <h1>Label Variations</h1>

    <h2>Simple Label</h2>

    @(X.Label()
        .Text("Hello World")
    )

    <h2>Label with Html</h2>

    @(X.Label()
        .Html("<i>Label</i>")
    )

    <h2>Label with Icon</h2>

    @(X.Label()
        .Text("Hello World")
        .Icon(Icon.Accept)
    )

    <h2>Label with Right Aligned Icon</h2>

    @(X.Label()
        .Text("Hello World")
        .Icon(Icon.Accept)
        .IconAlign(Alignment.Right)
    )
}