@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section example
{
    <h1>Items section from page</h1>

    @(Html.X().Panel()
        .Title("Items from section1 (section content from sub page)")
        .Width(400)
        .Height(250)
        .Icon(Icon.Add)
        .Layout(LayoutType.Accordion)
        .ItemsFromSection(this, "section1")
    )

    <br />

    @(Html.X().Panel()
        .Title("Items from section1 (section content from sub page)")
        .Width(400)
        .Height(250)
        .Icon(Icon.Application)
        .Layout(LayoutType.Accordion)
        .ItemsFromSection(this, "section2")
    )
}