@{
    ViewBag.Title = "GridPanel with Remote Filtering, Sorting and Paging - Ext.NET MVC Examples";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();
}

@section example
{
    <h1>GridPanel with Remote Filtering, Sorting and Paging</h1>
    <p>Please see column header menu for apllying filters</p>

    @(X.Window()
        .Width(700)
        .Resizable(false)
        .Closable(false)
        .Title("Example")
        .Items(
            X.GridPanel()
                .Border(false)
                .Store(
                    X.Store()
                        .RemoteSort(true)
                        .RemoteFilter(true)
                        .PageSize(10)
                        .Proxy(
                            X.AjaxProxy()
                                .Url(Url.Action("ReadData"))
                                .ActionMethods(actions => {
                                    actions.Read = HttpMethod.POST;
                                })
                                .Reader(
                                    X.JsonReader().RootProperty("data")
                                )
                        )
                        .Model(
                            X.Model()
                                .IDProperty("Id")
                                .Fields(
                                    X.ModelField().Name("Id").Type(ModelFieldType.Int),
                                    X.ModelField().Name("Company").Type(ModelFieldType.String),
                                    X.ModelField().Name("Price").Type(ModelFieldType.Float),
                                    X.ModelField().Name("Date").Type(ModelFieldType.Date),
                                    X.ModelField().Name("Size").Type(ModelFieldType.String),
                                    X.ModelField().Name("Visible").Type(ModelFieldType.Boolean)
                                )
                        )
                        .Sorters(
                            X.DataSorter().Property("Company").Direction(Ext.Net.SortDirection.ASC)
                        )
                )
                .ColumnModel(
                    X.Column().Text("ID").DataIndex("Id").Filter(X.NumberFilter()),

                    X.Column().Text("Company").DataIndex("Company").Filter(X.StringFilter()),

                    X.Column().Text("Price").DataIndex("Price").Renderer(RendererFormat.UsMoney).Filter(X.NumberFilter()),

                    X.DateColumn()
                        .Text("Date")
                        .DataIndex("Date")
                        .Align(ColumnAlign.Center)
                        .Format("yyyy-MM-dd")
                        .Filter(X.DateFilter().DatePickerOptions(picker => picker.TodayText = "Now")),

                    X.Column()
                        .Text("Size")
                        .DataIndex("Size")
                        .Filter(X.ListFilter().Options("extra small,small,medium,large,extra large")),

                    X.BooleanColumn()
                        .Text("Visible")
                        .DataIndex("Visible")
                        .Align(ColumnAlign.Center)
                        .TrueText("Yes")
                        .FalseText("No")
                        .Filter(X.BooleanFilter())
                )
                .Plugins(
                    X.GridFilters()
                )
                .BottomBar(
                    X.PagingToolbar()
                )
        )
    )
}
